create database fantasy
USE [Fantasy]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 1/9/2021 8:39:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Email] [varchar](255) NOT NULL,
	[Date_Of_Birth] [date] NULL,
	[Account_Type] [int] NULL,
	[Password] [varchar](50) NULL,
	[Gender] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Club]    Script Date: 1/9/2021 8:39:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Club](
	[Club_Id] [int] IDENTITY(1,1) NOT NULL,
	[Club_Rank] [int] NULL,
	[Club_Name] [varchar](50) NOT NULL,
	[Club_Points] [int] NULL,
	[Goals_Against] [int] NULL,
	[Total_Goals] [int] NULL,
	[Stadium_Name] [varchar](50) NULL,
	[ManagerName] [varchar](50) NULL,
	[FoundationDate] [varchar](50) NULL,
	[inFpl] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Club_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Club_Fixtures]    Script Date: 1/9/2021 8:39:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Club_Fixtures](
	[Host_id] [int] NOT NULL,
	[Guest_Id] [int] NOT NULL,
	[Week_number] [int] NOT NULL,
	[Season_number] [int] NOT NULL,
	[Score] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Host_id] ASC,
	[Guest_Id] ASC,
	[Week_number] ASC,
	[Season_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comepteing_Leauges]    Script Date: 1/9/2021 8:39:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comepteing_Leauges](
	[Fantasy_Team_Id] [int] NOT NULL,
	[Fantasy_Leauge_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Fantasy_Team_Id] ASC,
	[Fantasy_Leauge_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fantasy_League]    Script Date: 1/9/2021 8:39:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fantasy_League](
	[League_Id] [int] IDENTITY(1,1) NOT NULL,
	[League_Name] [varchar](50) NOT NULL,
	[Country] [varchar](50) NULL,
	[Total_Players] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[League_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fantasy_Player_Team]    Script Date: 1/9/2021 8:39:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fantasy_Player_Team](
	[Player_Username] [varchar](50) NOT NULL,
	[Age] [int] NULL,
	[Email] [varchar](255) NULL,
	[Fantasy_Team_ID] [int] IDENTITY(1,1) NOT NULL,
	[Team_Name] [varchar](50) NULL,
	[Total_Value] [int] NULL,
	[Team_Funds] [int] NULL,
	[Total_Points] [int] NULL,
	[Total_Transfers] [int] NULL,
	[Overall_Rank] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Fantasy_Team_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Footballer]    Script Date: 1/9/2021 8:39:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Footballer](
	[Player_Id] [int] IDENTITY(1,1) NOT NULL,
	[Club_ID] [int] NULL,
	[First_Name] [varchar](50) NOT NULL,
	[Last_Name] [varchar](50) NOT NULL,
	[Poisition] [int] NULL,
	[Price] [int] NULL,
	[Goals] [int] NULL,
	[Assists] [int] NULL,
	[Age] [int] NULL,
	[CleanSheets] [int] NULL,
	[points] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Player_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plays_In_Fantasy_Team]    Script Date: 1/9/2021 8:39:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plays_In_Fantasy_Team](
	[Player_ID] [int] NOT NULL,
	[Fantasy_Team_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Player_ID] ASC,
	[Fantasy_Team_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Season]    Script Date: 1/9/2021 8:39:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Season](
	[Season_Number] [int] IDENTITY(1,1) NOT NULL,
	[year] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Season_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transfered]    Script Date: 1/9/2021 8:39:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transfered](
	[Player_ID] [int] NOT NULL,
	[Week_Number] [int] NOT NULL,
	[Season_Number] [int] NOT NULL,
	[Fantasy_Team_ID] [int] NOT NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Player_ID] ASC,
	[Week_Number] ASC,
	[Season_Number] ASC,
	[Fantasy_Team_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unavailable_Player]    Script Date: 1/9/2021 8:39:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unavailable_Player](
	[ID] [int] NOT NULL,
	[Suspension_Status] [bit] NULL,
	[Start_Date] [date] NOT NULL,
	[Duration] [int] NULL,
	[Injury_Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[Start_Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Week]    Script Date: 1/9/2021 8:39:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Week](
	[Week_Number] [int] IDENTITY(1,1) NOT NULL,
	[Season_Number] [int] NOT NULL,
	[Start_Date] [date] NULL,
	[End_Date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Week_Number] ASC,
	[Season_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Club] ON 

INSERT [dbo].[Club] ([Club_Id], [Club_Rank], [Club_Name], [Club_Points], [Goals_Against], [Total_Goals], [Stadium_Name], [ManagerName], [FoundationDate], [inFpl]) VALUES (1, 1, N'Manchester United', 0, 0, 0, N'Old Trafford', N'Solskjaer', N'1902', 1)
INSERT [dbo].[Club] ([Club_Id], [Club_Rank], [Club_Name], [Club_Points], [Goals_Against], [Total_Goals], [Stadium_Name], [ManagerName], [FoundationDate], [inFpl]) VALUES (2, 2, N'Manchester City', 0, 0, 0, N'Ethiad', N'Guardiola', N'1880', 1)
INSERT [dbo].[Club] ([Club_Id], [Club_Rank], [Club_Name], [Club_Points], [Goals_Against], [Total_Goals], [Stadium_Name], [ManagerName], [FoundationDate], [inFpl]) VALUES (3, 3, N'Spurs', 0, 0, 0, N'Spurs Stadium', N'Mourinho', N'1882', 1)
SET IDENTITY_INSERT [dbo].[Club] OFF
GO
SET IDENTITY_INSERT [dbo].[Fantasy_Player_Team] ON 

INSERT [dbo].[Fantasy_Player_Team] ([Player_Username], [Age], [Email], [Fantasy_Team_ID], [Team_Name], [Total_Value], [Team_Funds], [Total_Points], [Total_Transfers], [Overall_Rank]) VALUES (N'111', 26, N'ahmadgad@gmail.com', 1, NULL, 0, 100, 0, 1, 1)
SET IDENTITY_INSERT [dbo].[Fantasy_Player_Team] OFF
GO
SET IDENTITY_INSERT [dbo].[Footballer] ON 

INSERT [dbo].[Footballer] ([Player_Id], [Club_ID], [First_Name], [Last_Name], [Poisition], [Price], [Goals], [Assists], [Age], [CleanSheets], [points]) VALUES (1, 1, N'David', N'De Gea', 0, 5, 0, 0, 30, 0, 0)
INSERT [dbo].[Footballer] ([Player_Id], [Club_ID], [First_Name], [Last_Name], [Poisition], [Price], [Goals], [Assists], [Age], [CleanSheets], [points]) VALUES (2, 1, N'Wan', N'Bissaka', 1, 6, 0, 0, 24, 0, 0)
INSERT [dbo].[Footballer] ([Player_Id], [Club_ID], [First_Name], [Last_Name], [Poisition], [Price], [Goals], [Assists], [Age], [CleanSheets], [points]) VALUES (3, 1, N'Harry', N'Maguire', 1, 2, 0, 0, 24, 0, 0)
SET IDENTITY_INSERT [dbo].[Footballer] OFF
GO
ALTER TABLE [dbo].[Footballer] ADD  CONSTRAINT [df_Goals]  DEFAULT ((0)) FOR [Goals]
GO
ALTER TABLE [dbo].[Footballer] ADD  CONSTRAINT [df_Assists]  DEFAULT ((0)) FOR [Assists]
GO
ALTER TABLE [dbo].[Footballer] ADD  CONSTRAINT [df_CleanSheets]  DEFAULT ((0)) FOR [CleanSheets]
GO
ALTER TABLE [dbo].[Club_Fixtures]  WITH CHECK ADD FOREIGN KEY([Guest_Id])
REFERENCES [dbo].[Club] ([Club_Id])
GO
ALTER TABLE [dbo].[Club_Fixtures]  WITH CHECK ADD FOREIGN KEY([Host_id])
REFERENCES [dbo].[Club] ([Club_Id])
GO
ALTER TABLE [dbo].[Club_Fixtures]  WITH CHECK ADD FOREIGN KEY([Week_number], [Season_number])
REFERENCES [dbo].[Week] ([Week_Number], [Season_Number])
GO
ALTER TABLE [dbo].[Comepteing_Leauges]  WITH CHECK ADD FOREIGN KEY([Fantasy_Team_Id])
REFERENCES [dbo].[Fantasy_Player_Team] ([Fantasy_Team_ID])
GO
ALTER TABLE [dbo].[Comepteing_Leauges]  WITH CHECK ADD FOREIGN KEY([Fantasy_Leauge_Id])
REFERENCES [dbo].[Fantasy_League] ([League_Id])
GO
ALTER TABLE [dbo].[Footballer]  WITH CHECK ADD FOREIGN KEY([Club_ID])
REFERENCES [dbo].[Club] ([Club_Id])
GO
ALTER TABLE [dbo].[Plays_In_Fantasy_Team]  WITH CHECK ADD FOREIGN KEY([Fantasy_Team_Id])
REFERENCES [dbo].[Fantasy_Player_Team] ([Fantasy_Team_ID])
GO
ALTER TABLE [dbo].[Plays_In_Fantasy_Team]  WITH CHECK ADD FOREIGN KEY([Player_ID])
REFERENCES [dbo].[Footballer] ([Player_Id])
GO
ALTER TABLE [dbo].[Transfered]  WITH CHECK ADD FOREIGN KEY([Fantasy_Team_ID])
REFERENCES [dbo].[Fantasy_Player_Team] ([Fantasy_Team_ID])
GO
ALTER TABLE [dbo].[Transfered]  WITH CHECK ADD FOREIGN KEY([Player_ID])
REFERENCES [dbo].[Footballer] ([Player_Id])
GO
ALTER TABLE [dbo].[Transfered]  WITH CHECK ADD FOREIGN KEY([Week_Number], [Season_Number])
REFERENCES [dbo].[Week] ([Week_Number], [Season_Number])
GO
ALTER TABLE [dbo].[Unavailable_Player]  WITH CHECK ADD FOREIGN KEY([ID])
REFERENCES [dbo].[Footballer] ([Player_Id])
GO
ALTER TABLE [dbo].[Week]  WITH CHECK ADD FOREIGN KEY([Season_Number])
REFERENCES [dbo].[Season] ([Season_Number])
GO
/****** Object:  StoredProcedure [dbo].[addFootballer]    Script Date: 1/9/2021 8:39:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[addFootballer]
	@clubID int,
	@firstName varchar(40),
	@lastName varchar(40),
	@position int,
	@price int,
	@age int,
	@points int
AS
BEGIN
INSERT INTO Footballer(Club_ID,First_Name,Last_Name,Poisition,Price,Age,points)
Values (@clubID ,
	@firstName ,
	@lastName,
	@position ,
	@price ,
	@age ,
	@points )
END
GO
/****** Object:  StoredProcedure [dbo].[getClubsByRank]    Script Date: 1/9/2021 8:39:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getClubsByRank]
AS
Begin
	SELECT  Club_Rank, Club_Name,Club_Points,Total_Goals,Goals_Against From Club order by club_rank asc
End
GO
/****** Object:  StoredProcedure [dbo].[getFootballlerNameAndClub]    Script Date: 1/9/2021 8:39:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getFootballlerNameAndClub]
AS
BEGIN
Select Footballer.First_Name,Footballer.Last_Name,Club.Club_Name from Footballer , Club where Footballer.Club_ID = Club.Club_Id; 
END
GO
/****** Object:  StoredProcedure [dbo].[getPointsByName]    Script Date: 1/9/2021 8:39:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getPointsByName]
	@Fname varchar(55),
	@lname varchar(55)
AS
begin
	SELECT Footballer.points from Footballer where Footballer.Last_Name = @lname and Footballer.First_Name = @Fname  
end
GO
/****** Object:  StoredProcedure [dbo].[UpdatePoints]    Script Date: 1/9/2021 8:39:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[UpdatePoints]
	@Fname varchar(55),
	@Lname varchar(55),
	@points int
AS
begin
	update Footballer set points = @points where First_Name = @Fname and Last_Name = @Lname
end
GO
