<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>

    <add name="MyConnectionString"    connectionString="Data Source=DESKTOP-0IP7M7Q\SQLEXPRESS;Initial Catalog=Fantasy;Integrated Security=True"/>


  </connectionStrings>
</configuration>